.header {
  color:#05386B;
  font-size: 6em;
  text-align: center;
  width: 40%;
  margin:auto;
  font-family: 'Permanent Marker', cursive;
}

.dropDown{
  width:40%;
  height:40px;
  background-color: #05386B;
  color: #EDF5E1;
  font-family: 'Permanent Marker', cursive;
  font-size: 0.2em;
  text-align: center;
}

.song{
      border-bottom: 1px solid #05386B;
      width:60%;
      margin:auto;
      padding:20px;

    }


body{
  background-color: #5CDB95;
  color:#05386B;
}

audio{
  width:30%;
  padding-right:10px;
  color:black;
}
